* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it fills the height */
}

.App {
  flex: 1; /* This allows the App component to take remaining space */
  background-image: url('./assets/movietheater.jpg');
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  color: white; /* Text color */
  position: relative; /* Allow absolutely positioned children */
  min-height: 100vh; /* Ensure it covers the full viewport */
  padding-top: 64px; 
  font-size: 3rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  z-index: 1; /* Ensure content is above the background */
}

.navbar {
  position: sticky; /* Stick to the top of the viewport */
  top: 0;
  z-index: 2; /* Ensure navbar is above the background */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 1.0em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cover full height */
  width: 100%; /* Ensure it takes full width */
  background-image: url('./assets/notfound.jpg'); /* Background for error page */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  color: blue; /* Text color */
  text-align: center; /* Center text */
  position: fixed; /* Ensure it covers the viewport completely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 999; /* High z-index to be above other content */
}


.error-image {
  margin-top: 20px;
  width: 200px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.retry-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #e63946;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.retry-button:hover {
  background-color: #d62839; /* Darker shade on hover */
}
